header {
  padding: 25px 0 30px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 31px;
  width: 1060px;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__elem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  float: left;
  margin-right: 15px;
}

.logo__text {
  font: 400 12px/16px var(--font-text);
  color: #343434;
  margin-top: 7px;
}

.phone a {
  font: 600 18px/25px var(--font-text);
  color: #000;
}

.phone p {
  font: 400 15px/20px var(--font-text);
  color: #999;
}

.header__menu ul {
  display: flex;
  gap: 24px;
}

.header__menu ul li a {
  font: 400 14px/19px var(--font-text);
  color: #000;
  transition: 0.3s;
}

.header__menu ul li a:hover {
  color: var(--main-color);
  transition: 0.3s;
}

#header_sticky {
  overflow: hidden;
  background-color: #fff;
}

.sticky {
  position: fixed;
  top: 0;
  width: inherit;
  padding: 10px 0;
}

#header_sticky_logo {
  display: none;
}

/* adaptive */

@media (max-width: 1200px) {
  .header {
    max-width: 100%
  }

  .header__elem {
    justify-content: space-between;
    padding: 0 10%;
  }
}

@media (max-width: 768px) {
  .header {
    max-width: 100%;
  }

  .header__elem {
    justify-content: space-around;
  }

  #header_sticky {
    display: none;
  }

}

@media (max-width: 576px) {
  .header {
    max-width: 100%;
    flex-direction: row;
  }

  .header__elem {
    justify-content: flex-start;
  }

  .header__logo {
    display: flex;
    padding-top: 12px ;
    padding-left: 16px;
  }

  .header__logo > p {
    display: none;
  }

  .phone {
    display: none;
  }

  #header_sticky {
    display: none;
  }
}

